#header{
    background-color: chocolate;
    height: 110px;
    margin: 0 0 0 0;
}
.logo{
    float: left;
    width: 80px;
    height: 80px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
}
.name{
    color: bisque;
    padding-top: 30px;
}
.menu{
    float: right;
    margin-right: 40px;
    margin-top: -30px;
}
.menuList{
    display: inline;
    margin-left: 10px;
    color: bisque;
}
.btn{
    border: 0;
    text-decoration: none;
    background-color: chocolate;
    color: bisque;
}

.things{
    margin-left: 150px;
    margin-right: auto;
    margin-top: 50px;
}

p{
   display: block;
    width:20%;
    background-color: burlywood; 
    margin: 10px;
    padding: 10px;
    position: relative;
    float: left;
}

@media(min-width:990px) and (max-width:1200px){

    .things{
        margin-left: 150px;
        margin-right: auto;
        margin-top: 50px;
    }
    .col-lg-1{
        width: 8.33%;
    }
    .col-lg-2{
        width: 16.66%;
    }
    .col-lg-3{
        width: 25%;
    }
    .col-lg-4{
        width: 33.33%;
    }
    .col-lg-5{
        width: 41.66%;
    }
    .col-lg-6{
        width: 50%;
    }
    .col-lg-7{
        width: 58.33%;
    }
    .col-lg-8{
        width: 66.66%;
    }
    .col-lg-9{
        width: 75%;
    }
    .col-lg-10{
        width: 83.33%;
    }
    .col-lg-11{
        width: 91.66%;
    }
    .col-lg-12{
        width: 100%;
    }
}

@media(min-width:450px) and (max-width:989px){
    .things{
        margin-left: 50px;
        margin-right: auto;
        margin-top: 50px;
    }
    .col-md-1{
        width: 8.33%;
    }
    .col-md-2{
        width: 16.66%;
    }
    .col-md-3{
        width: 25%;
    }
    .col-md-4{
        width: 33.33%;
    }
    .col-md-5{
        width: 41.66%;
    }
    .col-md-6{
        width: 50%;
    }
    .col-md-7{
        width: 58.33%;
    }
    .col-md-8{
        width: 66.66%;
    }
    .col-md-9{
        width: 75%;
    }
    .col-md-10{
        width: 83.33%;
    }
    .col-md-11{
        width: 91.66%;
    }
    .col-md-12{
        width: 100%;
    }
}